<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <PropertyGroup>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<SolutionProperties>
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.Plugins.Chm.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>		
		<ContentFiles Include="src/content/**/*.*"/>
		<MainFiles Include="src/bin/Release/SharpDox.Plugins.Chm.dll;
			src/bin/Release/config.xml;"/>			
		<LibraryFiles Include="src/bin/Release/MarkdownSharp.dll"/>	
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />		
		<Copy SourceFiles="@(ContentFiles)" DestinationFiles="@(ContentFiles->'$(OutDir)/plugins/chm/content/%(RecursiveDir)%(Filename)%(Extension)')" />
		<Copy SourceFiles="@(MainFiles)" DestinationFolder="$(OutDir)/plugins/chm" />
		<Copy SourceFiles="@(LibraryFiles)" DestinationFolder="$(OutDir)/plugins/chm" />
	</Target>
</Project>